In [1]:
import pandas as pd

# CSV

In [2]:
df = pd.read_csv('data\weather.csv')
df

        day  temperature  windspeed  event
0  01-01-17           32          6   Rain
1  01-02-17           35          7  Sunny
2  01-03-17           28          2   Snow

# Excel
By default the `sheet_name` kwarg is set to ___'Sheet1'___, which is the default name for the first sheet in an Excel file. If the file has different sheet names, we must explicitly specify it, else it will lead to an error.

In [3]:
df = pd.read_excel('data\weather.xlsx')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow

# Python Dictionaries
We can create a DataFrame from a dictionary of lists.

In [4]:
weather_dict = {
    'day': ['2017-01-01', '2017-02-01', '2017-03-01'], 
    'temperature':[32, 35, 28],
    'windspeed':[6, 7, 2],
    'event':['Rain', 'Sunny', 'Snow']
}

weather_dict

{'day': ['2017-01-01', '2017-02-01', '2017-03-01'],
 'temperature': [32, 35, 28],
 'windspeed': [6, 7, 2],
 'event': ['Rain', 'Sunny', 'Snow']}

In [5]:
df = pd.DataFrame(weather_dict)
df

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-02-01           35          7  Sunny
2  2017-03-01           28          2   Snow

# List of tuples
We can also create a dictionary from a list of tuples

In [6]:
weather_lt = [
    ('01-01-17', 32, 6, 'Rain'), 
    ('01-02-17', 35, 7, 'Sunny'),
    ('01-03-17', 28, 2, 'Snow')
]

weather_lt

[('01-01-17', 32, 6, 'Rain'),
 ('01-02-17', 35, 7, 'Sunny'),
 ('01-03-17', 28, 2, 'Snow')]

However, since our data is not labeled, we must explicitly specify our column names by calling the `columns` kwarg in the DataFrame constructor.

In [7]:
df = pd.DataFrame(weather_lt, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  01-01-17           32          6   Rain
1  01-02-17           35          7  Sunny
2  01-03-17           28          2   Snow

# List of Dictionaries
We can also create a DataFrame from a list of dictionaries.

In [8]:
weather_ld = [
    {'day': '01-01-17', 'temperature' :32, 'windspeed': 6, 'event': 'Rain'}, 
    {'day': '01-02-17', 'temperature' :35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '01-03-17', 'temperature' :28, 'windspeed': 2, 'event': 'Snow'}
]

weather_ld

[{'day': '01-01-17', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
 {'day': '01-02-17', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
 {'day': '01-03-17', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}]

In [9]:
df = pd.DataFrame(weather_ld)
df

        day  event  temperature  windspeed
0  01-01-17   Rain           32          6
1  01-02-17  Sunny           35          7
2  01-03-17   Snow           28          2